body {
    text-align: center;
    width: 70%;
    margin: auto;
   /*  color: white;
    background-color: #131334; */
}

.cell {
    display: inline-block;
    width: 100px;
    height: 106px;
    position: relative;
    border: 1px solid grey;
    border-radius: 8px;
    line-height: 65px;
    margin: 10px;
    color: lightgrey;
}

#draw-number {
    margin-bottom: 5em;
}

.drawn {
    color: black;
}

/* #board-container {
    background-color: #0c0b1d;
} */